<div class="tt-desctop-parent-cart tt-parent-box">
    <div class="tt-cart tt-dropdown-obj box-cart" data-tooltip="Cart" data-tposition="bottom" >
        <button class="tt-dropdown-toggle">
            <i class="icon-f-39"></i>
            <span class="tt-badge-cart" ></span>
        </button>
        <div class="tt-dropdown-menu">
            <div class="tt-mobile-add">
                <h6 class="tt-title">Giỏ hàng</h6>
                <button class="tt-close">Đóng</button>
            </div>
            <div class="tt-dropdown-inner">
                <div class="tt-cart-layout">
                    <div class="tt-cart-content" >
                        
                        <div class="tt-cart-list">
                            <div class="tt-item">
                                
                                
                                <a href="">
                                    <div class="tt-item-img">
                                        <img src="" data-src="" alt="">
                                    </div>
                                    <div class="tt-item-descriptions">
                                        <h2 class="tt-title"></h2>
                                        
                                        <div class="tt-quantity">X</div> <div class="tt-price">$</div>
                                    </div>
                                </a>
                                
                                
                            </div>
                            <h6><center><a href="/shopping_cart">...</a></center></h6>
                            
                        </div>
                        <div class="tt-cart-total-row">
                            <div class="tt-cart-total-title">Tổng tiền:</div>
                            <div class="tt-cart-total-price">$</div>
                        </div>
                        <div class="tt-cart-btn">
                            
                            <div class="tt-item">
                                <a href="/shopping_cart" class="btn-link-02 tt-hidden-mobile">Xem giỏ hàng</a>
                                <a href="/shopping_cart" class="btn btn-border tt-hidden-desctope">Xem giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>