<div class="container my-2">
    <div class="flex items-center justify-start">
        <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 
        font-medium rounded-md text-sm px-4 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
        dark:focus:ring-blue-800 h-10 flex items-center justify-center" href="/admin/banner">Back</a>
    </div>
    <div>
        <form action="/admin/banner/<%= banner.id %>/update" method="POST" enctype="multipart/form-data">
            <div class="w-50 m-auto">  
                <div class="pb-2">
                    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                    <input type="text" name="title" class="form-control" id="title" required value="<%= banner.title %>">
                </div>
                <div class="d-flex pb-2 gap-2">
                    <img class="image-banner-preview" src="/uploads/<%= banner.image %>" id="image_prd_preview">
                    <input type="file" name="image" id="image_prd" value="<%= banner.image %>">
                </div>
                <div class="flex justify-center items-center">
                    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 
                    font-medium rounded-md text-sm px-4 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
                    dark:focus:ring-blue-800 h-10 flex items-center justify-center" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>  