<div class="offcanvas offcanvas-start" id="menu-admin">
    <div class="offcanvas-header bg-slate-200">
      <h1 class="offcanvas-title">Manager</h1>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="pl-0">
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-role">
                <a href="/admin/role">Role manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-staff">
                <a href="/admin/staff">Staff manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-type">
                <a href="/admin/type">Type manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-brand">
                <a href="/admin/brand">Brand manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-color">
                <a href="/admin/color">Color manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-product">
                <a href="/admin/product">Product manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-order">
                <a href="/admin/order">Order manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-voucher">
                <a href="/admin/voucher">Voucher manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-voucher">
                <a href="/admin/banner">Banner Manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu admin-warehouse">
                <a href="/admin/warehouse">Warehouse manager</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu"">
                <a href="/admin/register">Register</a>
            </li>
            <li class="text-center d-flex items-center justify-center h-10 item-menu"">
                <a href="/admin/logout">Log out</a>
            </li>
        </ul>
    </div>
</div>