<div class="offcanvas offcanvas-start" id="menu-admin">
    <div class="offcanvas-header header-sideber flex justify-between">
      <h2 class="offcanvas-title w-100 text-center">Quản lý</h2>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="pl-0">
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-home">
                <a class="px-2" href="/admin/">Trang chủ</a>
            </li>
            <% if (userLogged && userLogged.user_role == 1) { %>
                <li class="text-center d-flex items-center justify-start h-10 item-menu admin-role">
                    <a class="px-2" href="/admin/role">Quản lí quyền</a>
                </li>
                <li class="text-center d-flex items-center justify-start h-10 item-menu admin-staff">
                    <a class="px-2" href="/admin/staff">Quản lý nhân viên</a>
                </li>
            <% } %>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-customer">
                <a class="px-2" href="/admin/customers">Quản lý khách hàng</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-type">
                <a class="px-2" href="/admin/type">Quản lý loại</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-brand">
                <a class="px-2" href="/admin/brand">Quản lý thương hiệu</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-color">
                <a class="px-2" href="/admin/color">Quản lý màu</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-attribute">
                <a class="px-2" href="/admin/attribute">Quản lý thuộc tính</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-product">
                <a class="px-2" href="/admin/product">Quản lý sản phẩm</a>
            </li>
            <!-- <li class="text-center d-flex items-center justify-start h-10 item-menu admin-voucher">
                <a class="px-2" href="/admin/voucher">Voucher manager</a>
            </li> -->
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-banner">
                <a class="px-2" href="/admin/banner">Quản lý Banner</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-event">
                <a class="px-2" href="/admin/event">Quản lý sự kiện</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-order">
                <a class="px-2" href="/admin/order">Quản lý đơn hàng</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-warehouse">
                <a class="px-2" href="/admin/warehouse">Quản lý kho</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu admin-review"">
                <a class="px-2" href="/admin/reviews">Đánh giá sản phẩm</a>
            </li>
            <li class="text-center d-flex items-center justify-start h-10 item-menu"">
                <a class="px-2" href="/admin/logout">Đăng xuất</a>
            </li>
        </ul>
    </div>
</div>