.deals_featured,
.new_arrivals {
    height: 900px !important;
}

.best_sellers {
    height: 800px !important;
}

.icon-heart {
    font-size: 20px;
}

.icon-heart:hover {
    color: red;
    cursor: pointer;
}

.search-option {
    color: #7f7f7f;
}

.img-product {
    border: 1px solid #7f7f7f;
    min-height: 230px !important;
    border-radius: 10px !important;
}

.bg-show-view {
    border-radius: 10px !important;
}